{
    "postgres-airflow": {
        "conn_type": "postgres",
        "description": "",
        "schema": "postgres",
        "extra": "",
        "host": "localhost",
        "login": "airflow",
        "port": 5432,
        "password": "airflow"
    }
}