{
    "postgres-airflow": {
        "conn_type": "postgres",
        "description": "",
        "schema": "postgres",
        "extra": "",
        "host": "172.17.0.1",
        "login": "airflow",
        "port": 5432,
        "password": "airflow"
    }
}